.sequence-item{
    position: relative;
}

.sequence-item span{
    font-size: 14px;
    font-weight: 600;
}


.sequence-item svg{
    position: absolute !important;
    right: 8px;
}
.sequence-item svg:hover{
    transform: scale(1.2);
}

.sequence-item_box{
    cursor: pointer;
    position: relative;
    padding: 8px !important;
    border-top: 1px solid rgba(128, 128, 128, 0.282);
}

.sequence-item_box:hover{
    transform: scale(1.03);
    transition: transform 120ms;
}


.sequence-item[data-valid = false] .sequence-item_box{
    border: 1px solid red;
}

.sequence-item_box::after {
    content: "\2192";
    position: absolute;
    right:-30px;
    font-size:22px;
}
.sequence-grid-item:last-child > div > div::after {
    content: "";
}

.sequence-item_more-inputs{
    padding: 8px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 0px 0px 8px 8px;
    border-color: rgba(0, 0, 0, 0.23);
    background-color: rgba(128, 128, 128, 0.04);
}

.sequence-item_more-inputs input{
    background-color:white;
    font-size: 13px;
}

/* Moving steps arrow styling */
.sequence-item:hover .arrow-left, .sequence-item:hover .arrow-right {
  opacity: 1;
}

.arrow-right,
.arrow-left{
  opacity: 0;
  border: 0;
  background: transparent;
  display: block;
  margin: 30px auto;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  position: absolute;
  top: 45px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.arrow-right{
 transform: rotate(135deg);
 right: -15px;
}
.arrow-left{
 transform: rotate(-45deg);
 left: -15px;
}
.arrow-right:hover{   
    right: -18px;
}
.arrow-left:hover{   
    left: -18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sequence-item_box::after {
        content: "\2193";
        right: 47%;
        top:105%;
    }
}